h1,
p {
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  font-family: "VT323", "Monospace";
}

.block {
  display: flex;
  width: 100px;
  margin: 0 auto;
}

#canvas {
  display: flex;
  margin: 10px auto;
  border: 1px solid black;
}
