body {
  background: repeat
    linear-gradient(
      to right,
      rgb(198, 255, 221),
      rgb(251, 215, 134),
      rgb(247, 121, 125)
    );
}

#canvas {
  display: flex;
  margin: 50px auto;
  border: 1px solid black;
}
